<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Paul's Baws Site</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div id="main">
<!-- The navigation menu will get the value of the "mymenu" variable as a class. -->
  <nav class="{{mymenu}}" >
    <!-- When a link in the menu is clicked, we set the mymenu variable -->
    <a href="#home" class="home" ng-click="mymenu='home'">Home</a>
    <a href="#bitties" class="bitties" ng-click="mymenu='bitties'">Bitties</a>
    <a href="#sports" class="sports" ng-click="mymenu='sports'">Sports</a>
    <a href="#notes" class="notes" ng-click="mymenu='notes'">Notes</a>
    <a href="#roomies" class="roomies" ng-click="mymenu='roomies'">Roomies</a>
  </nav>
    <p ng-hide="mymenu">Please click a menu item</p>
    <p ng-show="mymenu">You chose <b>{{mymenu}}</b></p>
</div>
  <div ng-view></div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
